.first-main{
    background-color: rgb(246, 245, 245);
}
.course{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.introduction-trigonometry{
 width: 100%;
 height: 90px;
 background-color: #fff;
 border: 1px solid black;
 border-radius: 5px;
 display: flex;
 flex-direction: row;
 gap: 30px;
 align-items: center;
}
.introduction-to-course{
    width: 100%;
    height: 90px;
    background-color: #f8f8f8;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.Understanding-trigonometry{
    width: 100%;
    height: 90px;
    background-color: #f8f8f8;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

/*  */
/* .first-main {
    background-color: rgb(246, 245, 245);
  }
  
  .course {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .introduction-trigonometry {
    width: 100%;
    height: 90px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
  
  .introducion-to-course {
    width: 100%;
    height: 90px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
  
  .Understanding-trigonometry {
    width: 100%;
    height: 90px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
  
  .dropped-item {
    margin-top: 10px;
  } */
  